INSPI_CZ9_GIDI_Pbl_Cnt_KL_2021_2022.xlsx
__pycache__/activities_input_code.cpython-310.pyc
__pycache__/add_databases_code.cpython-310.pyc
__pycache__/login_code.cpython-310.pyc
__pycache__/new_user_code.cpython-310.pyc
__pycache__/recover_password_code.cpython-310.pyc
test.py
__pycache__/add_author_code.cpython-310.pyc
__pycache__/pub_search_code.cpython-310.pyc
__pycache__/activities_input_code.cpython-310.pyc
ui_classes/__pycache__/__init__.cpython-310.pyc
ui_classes/__pycache__/add_author_class.cpython-310.pyc
ui_classes/__pycache__/add_database_class.cpython-310.pyc
ui_classes/__pycache__/login_class.cpython-310.pyc
ui_classes/__pycache__/menu_class.cpython-310.pyc
ui_classes/__pycache__/new_user_class.cpython-310.pyc
ui_classes/__pycache__/pub_input_class.cpython-310.pyc
ui_classes/__pycache__/pub_search_class.cpython-310.pyc
ui_classes/__pycache__/recover_password_class.cpython-310.pyc
__pycache__/add_author_class.cpython-310.pyc
__pycache__/menu_code.cpython-310.pyc
__pycache__/publicaciones_data_input.cpython-310.pyc
ui_files/__pycache__/__init__.cpython-310.pyc
ui_files/__pycache__/activities_input_code.cpython-310.pyc
ui_files/__pycache__/add_author_code.cpython-310.pyc
ui_files/__pycache__/add_databases_code.cpython-310.pyc
ui_files/__pycache__/login_code.cpython-310.pyc
ui_files/__pycache__/menu_code.cpython-310.pyc
ui_files/__pycache__/new_user_code.cpython-310.pyc
ui_files/__pycache__/pub_search_code.cpython-310.pyc
ui_files/__pycache__/recover_password_code.cpython-310.pyc
__pycache__/gidi_data_input.cpython-310.pyc
